* {
	box-sizing: border-box;
}

body {
	background: #DDC3AD;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	font-size: 50px;
	margin: 0;
}

a {
	color: #333;
	font-size: 14px;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 3px solid #6182A0;
	background-color: #F0E5DC;
	color: #6182A0;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 45px;
	transition: transform 80ms ease-in;
}

button:focus {
	outline: none;
}

form {
	background-color: #DDC3AD;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 50%;
}

label {
	margin: 0 auto;
	width: 50%;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.5;
}

label:hover, label:active {
	text-decoration: underline;
 }

.container {
	background-color: #F0E5DC;
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 100%;
	min-height: 500px;
}

.form_container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.form_text_alert{
	color: #F00;
	font-size: 14px;
  padding-bottom: 10px;
}

.sign_in_container {
	left: 0;
	width: 50%;
}

.sign_up_container {
	left: 0;
	width: 50%;
	opacity: 0;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.container.right_panel_active .sign_up_container {
	transform: translateX(100%);
	opacity: 1;
	animation: show 0.6s;
}

#forgot-password-toggle {
	display: none;
}

.forgot-password-content {
	height: 5%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

#forgot-password-toggle:checked + label + .forgot-password-content {
	display: inline;
	width: 100%;
  height: 5%;
  opacity: 1;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
}

.overlay_container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
}

.overlay {
	background: #F0E5DC;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transition: transform 0.6s ease-in-out;
}

.container.right_panel_active .overlay_container{
	transform: translateX(-100%);
}

.container.right_panel_active .overlay {
  	transform: translateX(50%);
}

.overlay_panel {
	background: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTAxMjhfNTgg%2FMDAxNjExODE4NjQzMTUw.pcay2gZCBPiFSfekLacjgLxgrG49iNCaEwuxur3VOFEg.1KuPO2y66XN0OkBNzvMCwVI2_yY-B2oxHPIXo9mTK2Ug.JPEG.hohuk212%2F2.jpg&type=sc960_832");
	opacity: 0.5;
	background-repeat: no-repeat;
	background-size: 1000px;
	background-position: 0px -250px;

	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	top: 15%;
	height: 70%;
	width: 50%;
	transition: transform 0.6s ease-in-out;
}

.overlay_right {
	right: 0;
}

.overlay_left {
	left: 0;
}

